/* === 清除默认样式 === */
* {
    padding: 0;
    margin: 0;
}

/* 清除浮动 */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}


/* === 全局样式 === */
body {
    background-color: #090E13;
}

/* 版心 */
.heart {
    width: 1200px;
    margin: 0 auto;
}

/* 清除列表圆点 */
li {
    list-style: none;
}

/* 清除链接下划线 */
a {
    text-decoration: none;
}



/* === 顶部栏 === */
.header {
    background-color: #181E24;
    height: 50px;
}

/* logo栏 */
.logo {
    float: left;
    height: 50px;
    line-height: 50px;
    margin-left: 20px;
}

.logo .icon-home {
    float: left;
    font-size: 30px;
    margin: 10px 0;
}

.logo span {
    float: left;
    font-weight: 700;
    color: #63B3FF;
    margin: auto 10px;
}

/* 导航栏 */
.header .nav {
    /* float: left; */
    width: 360px;
}

.header .nav ul li {
    float: left;
    line-height: 50px;
    margin: 0 10px;
}

.header .nav ul li a {
    color: #C5C7C8;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 5px;
}

.header .nav li a:hover {
    color: #63B3FF;
    background-color: #293c50;
}

/* 搜索框 */
.header input {
    float: right;
    border: 0;
    border-radius: 5px;
    margin: 10px 20px;
    margin-left: 0;
    padding: 5px;
    height: 30px;
    width: 140px;
    background-color: #24292F;
    color: #868788;
}

.header input:focus {
    outline: 2px solid #63B3FF;
}


/* === 大标题 === */
h1 {
    color: #E8E9EA;
    text-align: center;
    margin: 30px;
    font-size: 40px;
}

/* === 左栏 === */
/* --- 主信息 --- */
.left {
    float: left;
    width: 300px;
}

.info {
    width: 300px;
    background: #181E24;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

/* 头像 */
.info p .portrait {
    text-align: center;
}

.info img {
    width: 90%;
    border-radius: 20px;
    margin: 15px 0;
}

.info h2 {
    text-align: center;
    font-size: 30px;
    color: #fff;
}

.x-line {
    height: 6px;
    width: 36px;
    background-color: #63B3FF;
    border-radius: 3px;
    margin: 10px auto;
}

/* 个性签名 */
.info p {
    text-align: center;
    font-size: 16px;
    color: #9B9B9B;
    margin-bottom: 5px;
}

/* 社交账号 */
.info .relation {
    width: 30px;
    margin: 0 auto;
}

.info .relation a {
    display: block;
}

.info .relation .icon-github {
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
    color: #4c525a;
}

.info .relation .icon-github:hover {
    color: #63B3FF;
}

/* --- 等级 --- */
.level {
    width: 300px;
    background: #181E24;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.level h3 {
    float: left;
    color: #fff;
    margin-top: 20px;
    width: 200px;
}

.level .icon-cpu {
    float: left;
    margin: 20px;
    color: #63B3FF;
    font-size: 25px;
    font-weight: 500;
}

.level p {
    float: left;
    color: #fff;
    font-weight: 400;
    margin: 20px;
    margin-left: 0;
}

/* --- 描述 --- */
.describe {
    width: 300px;
    background: #181E24;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.describe .icon-align-left {
    float: left;
    margin: 20px;
    color: #63B3FF;
    font-size: 25px;
    font-weight: 500;
}

.describe h3 {
    float: left;
    color: #fff;
    margin-top: 20px;
    width: 200px;
}

.describe p {
    float: left;
    color: #fff;
    font-weight: 400;
    margin: 20px;
    margin-top: 0;
}

/* --- 会一点的技能 --- */
.ability {
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    color: #8d9298;
    font-size: 14px;
}

.ability span {
    font-size: 20px;
    margin: 5px;
}


/* --- 右栏 --- */
.right {
    float: right;
    width: 880px;
}

.y-line {
    border: 4px solid #63B3FF;
    border-radius: 4px;
}

.column-left {
    float: left;
    width: 780px;
}

.right ul li {
    border-radius: 20px;
    height: 90px;
    width: 840px;
    background-color: #181E24;
    margin-bottom: 30px;
    padding: 20px;
}

.column-left a {
    display: inline-block;
    margin: 0px 0px 10px 0px;
    padding-left: 20px;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    vertical-align: middle;
}

.column-left p {
    margin: 10px 0 0px 30px;
    color: #cfcfcf;
    font-size: 16px;
}

.column-left a:hover {
    color: #63B3FF;
}

.right .column-right {
    float: right;
    line-height: 90px;
}

.right .column-right a {
    display: block;
    height: 90px;
    width: 60px;
    border-radius: 10px;
    background-color: #283747;
    color: #63B3FF;
    font-size: 40px;
    text-align: center;

}

.right .column-right a:hover {
    background-color: #324457;
}

.view {
    position: relative;
}

.view img {
    position: absolute;
    border-radius: 20px;
    margin-bottom: 30px;
    transition: opacity 1s;
}

.change {
    opacity: 0;

}