/* 清除默认样式 */
* {
    padding: 0;
    margin: 0;
}

/* body样式 */
body {
    background-color: #090E13;
}

/* 顶部栏 */
.nav {
    padding-left: 10px;
    background-color: #181E24;
    height: 50px;
    line-height: 50px;
    display: flex;
}

.home {
    width: 25px;
    height: 25px;
    background-size: 100% 100%;
    background-image: url(image/home.svg);
    background-repeat: no-repeat;
    margin: auto 0;
}

.nav span {
    padding: 0 10px;
    font-weight: 700;
    color: #63B3FF;
}

.nav a {
    display: inline-block;
    color: #C5C7C8;
    font-weight: 700;
    padding: 0 15px;
    text-decoration: none;
    border-radius: 5px;
}

.nav a:hover {
    color: #63B3FF;
    background-color: #293c50;
}

.nav input {
    border: 0px solid;
    border-radius: 5px;
    margin: auto 0;
    margin-left: auto;
    margin-right: 20px;
    padding: 5px;
    height: 30px;
    background-color: #24292F;
    color: #C5C7C8;
}

.nav input:focus {
    outline: 2px solid #63B3FF;
}

/* 大标题 */
h1 {
    color: #E8E9EA;
    text-align: center;
    margin: 10px;
}

/* 人物卡 */
.card {
    width: 400px;
    height: 110px;
    border: 3px solid transparent;
    border-radius: 10px;
    display: flex;
    padding: 20px 10px 20px 10px;
    margin: 30px auto;
    background-color: #181E24;
    color: #E8E9EA;
}

/* 头像框 */
.portrait {
    width: 100px;
    height: 100px;
    background-size: 100% 100%;
    background-image: url(image/portrait.webp);
    background-repeat: no-repeat;
    margin: auto 0;
    margin-right: 20px;
    border-radius: 5px;
}

/* 卡内文字 */
.word {
    font-size: 16px;
    margin: 8px;
}

.word-xmtx {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 6px;
    margin: 8px;
    border-bottom: 2px solid #63B3FF;
}