/* --- 清除默认样式 --- */
* {
    padding: 0;
    margin: 0;
}

/* --- 全局样式 --- */
body {
    background-color: #090E13;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* 版心 */
.heart {
    width: 1200px;
    margin: 0 auto;
    /* background-color: #fff; */
}

/* --- 顶部栏 --- */
.header {
    background-color: #181E24;
    height: 50px;
}

/* logo栏 */
.header .logo {
    float: left;
    height: 50px;
    line-height: 50px;
    margin-left: 20px;
}

.header .logo img {
    float: left;
    margin: 10px 0;
}

.header .logo span {
    float: left;
    font-weight: 700;
    color: #63B3FF;
    margin: auto 10px;
}

/* 导航栏 */
.header .nav {
    float: left;
    width: 360px;
    margin: 0 auto;
}

.header .nav ul li {
    float: left;
    line-height: 50px;
    margin: 0 10px;
}

.header .nav ul li a {
    color: #C5C7C8;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 5px;
}

.header .nav li a:hover {
    color: #63B3FF;
    background-color: #293c50;
}

/* 搜索框 */
.header input {
    float: right;
    border: 0;
    border-radius: 5px;
    margin: 10px 20px;
    margin-left: 0;
    padding: 5px;
    height: 30px;
    width: 140px;
    background-color: #24292F;
    color: #868788;
}

.header input:focus {
    outline: 2px solid #63B3FF;
}


/* --- 大标题 --- */
h1 {
    color: #E8E9EA;
    text-align: center;
    margin: 20px;
}

/* --- 主信息 --- */
.left {
    width: 300px;
}

.info {
    width: 300px;
    background: #181E24;
    border-radius: 20px;
    margin-bottom: 20px;
}

/* 头像 */
.info p .portrait {
    text-align: center;
}

.info img {
    width: 90%;
    border-radius: 20px;
    margin: 15px 0;
}

.info h2 {
    text-align: center;
    font-size: 30px;
    color: #fff;
}

.x-line {
    height: 6px;
    width: 36px;
    background-color: #63B3FF;
    border-radius: 3px;
    margin: 10px auto;
}

/* 个性签名 */
.info p {
    text-align: center;
    font-size: 16px;
    color: #9B9B9B;
    margin-bottom: 5px;
}

/* 社交账号 */
.info .relation {
    width: 30px;
    margin: 0 auto;
}

.info .relation a {
    display: block;
}

.info .relation a img {
    width: 30px;
}

.info .relation a:hover img {
    background-color: #63B3FF;
}

/* --- 等级 --- */
.level {
    width: 300px;
    background: #181E24;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.level h3 {
    border-left: 6px solid #63B3FF;
    color: #fff;
    margin-top: 25px;
    margin-left: 20px;
    padding-left: 20px;
}

.level p {
    color: #fff;
    font-weight: 400;
    margin: 20px;
}

/* --- 描述 --- */
.describe {
    width: 300px;
    background: #181E24;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.describe h3 {
    border-left: 6px solid #63B3FF;
    color: #fff;
    margin-top: 25px;
    margin-left: 20px;
    padding-left: 20px;
}

.describe p {
    color: #fff;
    font-weight: 400;
    margin: 20px;
}